ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

/* Header */
nav.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 1em;
}

li a {
    padding: 1em;
    color: #000000;
    text-align: center;
    list-style: none;
    font-size: 1em;
}

.left-side-head {
    display: flex;
}

.right-side-head {
    display: flex;
    align-items: center;
}
/* Center*/
.main-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    min-width: 200px;
}

#search-bar {
    text-align: center;
    margin-top: 2em;
}

#text-bar {}

.form-button {
    margin-top: 1em;
    text-align: center; 
}

/* Footer */
.footer-nav {
    margin-top: 200px;
}

nav.footer-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

#carbn {
    text-align: center;
    list-style: inside;
}

.left-side-footer {
    display: flex;
}

.right-side-footer {
    display: flex;
    align-items: center;
}