ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

/* Header */
nav.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

li a {
    padding: 0.1em;
    color: #000000;
    text-align: center;
    list-style: none;
}

.left-side-head {
    display: inline-block;
}

.right-side-head {
    display: flex;
    align-items: center;
}
/* Center*/
#google-pic {
    display: block;
    margin-top: 300px;
    margin-left: 325px;
    margin-right: auto; 
    align-items: center;
}

#search-bar {
    text-align: center;
    align-items: center;
    margin-top: 2em;
    margin-right: 5em;
}

/* Footer */
nav.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

#carbn {
    text-align: center;
    list-style: inside;
}

.right-side-footer {
    display: flex;
    align-items: flex-end;
}