ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

/* Header */
nav.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 1em;
}

li a {
    padding: 1em;
    color: #000000;
    text-align: center;
    list-style: none;
    font-size: 1em;
}

.left-side-head {
    display: flex;
}

.right-side-head {
    display: flex;
    align-items: center;
}
/* Center*/
#google-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#search-bar {
    text-align: center;
    margin-top: 2em;
}

.form-button {
    margin-top: 1em;
}

/* Footer */
nav.footer-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

#carbn {
    text-align: center;
    list-style: inside;
}

.left-side-footer {
    display: flex;
}

.right-side-footer {
    display: flex;
    align-items: flex-end;
}